body {
    background-color: #7A7A7C;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    background-image: url("./assets/Background.gif");
}

#title {
    color: black;
}

#userText {
    border-radius: 16px 0 0 16px;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    flex-grow: 1;
    height: 40px;
}

#userText:focus {
    outline: none;
    box-shadow: 0 0 3px 2px black;
}

#userText:hover {
    outline: none;
    box-shadow: 0 0 3px 2px black;
}

#downloadBtn {
    border-radius: 0 16px 16px 0;
    background-color: #B4B4B4;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    height: 40px;
}

#downloadBtn:focus {
    outline: none;
    box-shadow: 0 0 3px 2px black;
}

#downloadBtn:hover {
    background-color: #9E9E9E;
    outline: none;
    box-shadow: 0 0 3px 2px black;
}


#userText, .btn-download {
    transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
}

@media (min-width: 1100px) {
    .input-group {
        max-width: 600px;
        display: flex;
        margin: 0 auto;
    }

    canvas {
        width: 380px;
        height: auto;
    }

    #title {
        font-size: 50px;
    }
}

@media (max-width: 1100px) {
    .input-group {
        max-width: 560px;
        display: flex;
        margin: 0 auto;
    }

    canvas {
        width: 340px;
        height: auto;
    }

    #title {
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .input-group {
        max-width: 380px;
        display: flex;
        margin: 0 auto;
    }

    canvas {
        width: 320px;
        height: auto;
    }

    #title {
        font-size: 30px;
    }

    .input-group .btn-download .btn-text {
        display: none;
    }
}
